<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_area :nome, id: :cliente_nome %>
  </div>

  <div class="field">
    <%= form.label :cpf_cnpj %>
    <%= form.text_area :cpf_cnpj, id: :cliente_cpf_cnpj %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_select :data_nascimento, id: :cliente_data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, id: :cliente_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
