<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Clientes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                  <th>Nome</th>
                  <th>CPF/CNPJ</th>
                  <th>Endereço</th>
                  <th>Bairro</th>
                  <th>Cidade</th>
                  <th>Estado</th>
                  <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
              <% @clientes.each do |cliente| %>
                <tr>
                  <td><%= cliente.nome %></td>
                  <td><%= cliente.cpf_cnpj %></td>
                  <td> <%= cliente.endereco.rua %> - Nº <%= cliente.endereco.numero %></td>
                  <td><%= cliente.endereco.bairro %></td>
                  <td><%= cliente.endereco.cidade %></td>
                  <td><%= cliente.endereco.estado %></td>
                  <td style="width: 3%; text-align: center;">
                    <%= link_to cliente, class:"btn btn-primary btn-circle" do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  </td>
                  <td style="width: 3%; text-align: center;">
                    <%= link_to edit_cliente_path(cliente), class:"btn btn-success btn-circle" do %>
                      <i class="fa fa-edit"></i>
                    <% end %>
                  </td>
                  <td style="width: 3%; text-align: center;">
                    <%= link_to cliente, method: :delete, data: { confirm: t('messages.confirma_remocao') }, class:"btn btn-danger btn-circle" do %>
                      <i class="fa fa-times"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <!-- /.table-responsive -->
    </div>
  </div>
</div>
<!-- /.row -->

<br/>
<div class="row">
  <div class="col-lg-6">
    <%= link_to t('buttons.novo'), new_cliente_path, :class=>"btn btn-sm btn-primary" %>
  </div>
</div>
