<br/>
<div class="row">
  <div class="col-lg-6">
    <%= link_to t('buttons.voltar'), clientes_path, :class=>"btn btn-sm btn-default" %>
    <%= link_to t('buttons.editar'), edit_cliente_path(@cliente.id), :class=>"btn btn-sm btn-primary" %>
  </div>
</div>
<br/>

<%= form_with(model: @cliente, local: true) do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
        <%= @operacao %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <%= form.label :nome %>
                <%= form.text_field :nome, id: :cliente_nome, :class=>"form-control show", :readonly=>"true" %>
              </div>

              <div class="form-group">
                <%= form.label :cpf_cnpj %>
                <%= form.text_field :cpf_cnpj, id: :cliente_cpf_cnpj, :class=>"form-control show", :readonly=>"true" %>
              </div>
              <% if @cliente.cpf_cnpj.length == 14 %>
                <div class="form-group">
                  <%= form.label :data_nascimento %>
                  <%= form.text_field :data_nascimento, id: :cliente_data_nascimento, value: datef(@cliente.data_nascimento), :class=>"form-control date show", :readonly=>"true" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= form.fields_for :endereco do |e| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Endereço
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <%= e.label :rua %>
                <%= e.text_field :rua, id: :endereco_rua, :class=>"form-control show", :readonly=>"true" %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= e.label :numero %>
                <%= e.text_field :numero, id: :endereco_numero, :class=>"form-control numeros show", :readonly=>"true" %>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="form-group">
                <%= e.label :complemento %>
                <%= e.text_field :complemento, id: :endereco_complemento, :class=>"form-control show", :readonly=>"true" %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <%= e.label :cep %>
                <%= e.text_field :cep, id: :endereco_cep, :class=>"form-control cep show", :readonly=>"true" %>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <%= e.label :bairro %>
                <%= e.text_field :bairro, id: :endereco_bairro, :class=>"form-control show", :readonly=>"true" %>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="form-group">
                <%= e.label :cidade %>
                <%= e.text_field :cidade, id: :endereco_cidade, :class=>"form-control show", :readonly=>"true" %>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="field form-group">
                <%= e.label :estado %>
                <%= e.select :estado, options_for_states(@cliente.endereco.estado), {}, {:class=>"form-control show", :disabled=>"disabled"} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
        Telefones
        </div>

        <div class="panel-body">
          <div class="row">
            <div id="telefones" class="col-lg-12">
              <%= form.fields_for :telefones do |f| %>
                <div class="nested-fields">
                  <div class="form-group field">
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.label :telefone %>
                        <%= f.text_field :telefone, :class=>"form-control telefone-field show", :readonly=>"true" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
        E-mails
        </div>
        <div class="panel-body">
          <div class="row">
            <div id="emails" class="col-lg-12">
              <%= form.fields_for :emails do |f| %>
                <div class="nested-fields">
                  <div class="form-group field">
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.label :email %>
                        <%= f.text_field :email, id: :emails_email, :class=>"form-control email-field show", :readonly=>"true" %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
