<div class="row">
        <div class="col-md-offset-4 col-md-3 text-center">
            <h1 class='text-white'>GerenciadorOS</h1>
            <div class="form-login"></br>
                <h4>Login</h4>
                </br>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control input-sm chat-input", :placeholder=>"E-mail" %>
                  </div>
                  </br>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "current-password", :class=>"form-control input-sm chat-input", :placeholder=>"Senha" %>
                  </div>
                  </br>

                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>

                  </br></br>
                  <div class="actions">
                    <%= f.submit "Log in", :class=>"btn btn-primary btn-md" %>
                  </div>
                <% end %>
                </br>
            </div>
        </div>
</div>

<% if 1 == 2 %>
<%= render "devise/shared/links" %>
<% end %>
