<%= form_with(model: produto_item, local: true) do |form| %>
  <% if produto_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto_item.errors.count, "error") %> prohibited this produto_item from being saved:</h2>

      <ul>
      <% produto_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.text_field :produto_id, id: :produto_item_produto_id %>
  </div>

  <div class="field">
    <%= form.label :ordem_servico_id %>
    <%= form.text_field :ordem_servico_id, id: :produto_item_ordem_servico_id %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.text_field :quantidade, id: :produto_item_quantidade %>
  </div>

  <div class="field">
    <%= form.label :preco_unitario %>
    <%= form.text_field :preco_unitario, id: :produto_item_preco_unitario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
