<p id="notice"><%= notice %></p>

<h1>Produto Items</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Ordem servico</th>
      <th>Quantidade</th>
      <th>Preco unitario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produto_items.each do |produto_item| %>
      <tr>
        <td><%= produto_item.produto %></td>
        <td><%= produto_item.ordem_servico %></td>
        <td><%= produto_item.quantidade %></td>
        <td><%= produto_item.preco_unitario %></td>
        <td><%= link_to 'Show', produto_item %></td>
        <td><%= link_to 'Edit', edit_produto_item_path(produto_item) %></td>
        <td><%= link_to 'Destroy', produto_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto Item', new_produto_item_path %>
