<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Produtos</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Preco de Compra</th>
                <th>Preco de Venda</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @produtos.each do |produto| %>
                <tr>
                  <td><%= produto.descricao %></td>
                  <td><%= get_valor_formatado produto.preco_compra %></td>
                  <td><%= get_valor_formatado produto.preco_venda %></td>
                  <td style="width: 3%; text-align: center;">
                    <%= link_to produto, class:"btn btn-primary btn-circle" do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  </td>
                  <td style="width: 3%; text-align: center;">
                    <%= link_to edit_produto_path(produto), class:"btn btn-success btn-circle" do %>
                      <i class="fa fa-edit"></i>
                    <% end %>
                  </td>
                  <td style="width: 3%; text-align: center;">
                    <%= link_to produto, method: :delete, data: { confirm: t('messages.confirma_remocao') }, class:"btn btn-danger btn-circle" do %>
                      <i class="fa fa-times"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>
        <%= link_to t('buttons.incluir'), new_produto_path %>
    </div>
</div>
